@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Kurenaido&display=swap");
body {
    background-image: url('images/back.jpg');
    color:#000305;
    font-size: 87%; /* base font-size = 14px */ 
    font-family: "Zen Kurenaido", sans-serif;
    line-height: 2.5;
    text-align: left;
}
a{text-decoration: none;}
a:link, a:visited{ color: #252f7e ;} 
a:hover, a:active { color: #c04c17; transition: all 0.5s ease-out;} 
.body {
    margin: 0 auto;
    width: 70%;
    clear: both;}
/*--------------MAIN HEADER ---------*/

.mainheader img {
    width: 100%;
}
.mainheader nav {
    background-color: #6290aa ;
    height: 40px;
    border-radius: 5px;
    -webkit-border-redius:5px;
    -moz-border-radius: 5px;
} 
.mainheader nav ul {
    text-align: center;
    list-style: none;
    margin: 0 auto;
    

}
.mainheader nav ul li {
    display: inline;
  
}
.mainheader a:link, .mainheader a:visited{
    color:white;
    padding: 2px 20px;
    display: inline-block;
   
}
.mainheader a:hover, .mainheader a:active{
    color:rgb(122, 160, 34);
    background-color: rgba(248, 120, 108, 0);
    text-shadow: 1px 1px rgb(209, 101, 0);
    font-size: 14px;
    transition: all 0.5s ease-out;
    border-radius: 25px;

}
.post-img{
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    transition: all 0.5s ease-out;

}